<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of User</title>
</head>
<body>
    <h1>Our Current Users</h1>
    <table border="1" cellpadding="8" cellspacing="0">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    <%  for(let i =0; i<users.length; i++){%>
        <tr>
            <td><a href="/users/<%=i%>"><%=i%></a></td>
            <td><%= users[i].firstName %> </td>
            <td><%= users[i].lastName %> </td>
        </tr>
        <%}%>
    </table>
</body>
</html>